{
"name": "Attention_PR_2",
"notes": "Investigating PR to an unattended talker. \r\n64 of 1280 total lists. \r\nCounterbalances: Gender, Sound (s/sh), Exposure Order (01+05), Test Order, respKey Exp., respKey Test. \r\nConsistent: Ear (L), Materials (A).",
"completion_URL": "https://app.prolific.co/submissions/complete?cc=C1FGRJHD",
"conditions":
[
  {
    "name": "Condition.1_F_L_A_S_01_A_0_0",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=F&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=S&ExposureOrder=01&TestOrder=A&respKeyExp=0&respKeyTest=0&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.4_F_L_A_S_01_A_1_1",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=F&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=S&ExposureOrder=01&TestOrder=A&respKeyExp=1&respKeyTest=1&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.17_F_L_A_Sh_01_A_0_0",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=F&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=Sh&ExposureOrder=01&TestOrder=A&respKeyExp=0&respKeyTest=0&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.25_F_L_A_Sh_05_A_0_0",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=F&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=Sh&ExposureOrder=05&TestOrder=A&respKeyExp=0&respKeyTest=0&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.27_F_L_A_Sh_05_A_1_0",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=F&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=Sh&ExposureOrder=05&TestOrder=A&respKeyExp=1&respKeyTest=0&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.28_F_L_A_Sh_05_A_1_1",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=F&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=Sh&ExposureOrder=05&TestOrder=A&respKeyExp=1&respKeyTest=1&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.38_M_L_A_S_01_B_0_1",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=M&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=S&ExposureOrder=01&TestOrder=B&respKeyExp=0&respKeyTest=1&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.63_M_L_A_Sh_05_B_1_0",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=M&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=Sh&ExposureOrder=05&TestOrder=B&respKeyExp=1&respKeyTest=0&platform=prolific",
    "participants": "1"
  },
  {
    "name": "Condition.64_M_L_A_Sh_05_B_1_1",
    "experiment_URL": "https://www.hlp.rochester.edu/experiments/PRATTLIM/experiment-A/experiment.html?AttendedTalkerGender=M&AttendedTalkerEar=L&AttendedTalkerMaterial=A&AttendedTalkerLabel=Sh&ExposureOrder=05&TestOrder=B&respKeyExp=1&respKeyTest=1&platform=prolific",
    "participants": "1"
  }
]
}
